
*{
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(182, 176, 176);
}

header {
    background-color: rgb(156, 201, 216);
    display: flex;
    justify-content:space-between;
}

h1 {
    color: rgb(97, 90, 90);
    font-size:40px;
    text-align: left;
    justify-content: space-between;
    margin-top: 25px;
}

h2 {
    color: rgb(105, 96, 96);
    text-align: center;
    margin-bottom: 25px;
    text-transform:uppercase;
    font-size: 32px;
}

h3 {
    color: rgb(105, 96, 96);
    font-size: 25px;
    margin: 15px;
    margin-bottom: 10px;
}

h4 {
    color: rgb(105, 96, 96);
    font-size: 20px;
    margin: 10px;
}


section {
    border-radius: 30px;
    border: solid white;
    width: 800px;
    background-color: white;
    margin: 40px;
    padding: 45px;
}

div{
    display: flex;
    justify-content: space-around;
}

article{
margin: 25px;
}
    
p{
margin: 10px;
}

ul{
margin: 5px;
}

.Competences ul {
    margin-top: 25px;
}

.Competences img {
    margin: 20px;
}

