
*{
    padding: 0;
    margin: 0;
}


body {
    background-color: hsl(33, 7%, 76%);
    background-repeat: no-repeat;
}

header {
    height: 200px;
    background-color: rgb(230, 137, 93);
    display: flex;
    justify-content:space-between;
}

h1 {
    color: rgb(255, 255, 255);
    font-size:40px;
    text-align: left;
    justify-content: space-between;
    margin-top: 25px;
}

h2 {
    color: rgb(105, 96, 96);
    text-align: center;
    margin-bottom: 25px;
    text-transform:uppercase;
    font-size: 25px;
}

h3 {
    color: rgb(105, 96, 96);
    font-size: 20px;
    margin: 5px;
    margin-bottom: 5px;
}

h4 {
    color: rgb(105, 96, 96);
    font-size: 15px;
    margin: 5px;
}


section {
    border-radius: 30px;
    border: solid white;
    width: 800px;
    background-color: white;
    margin: 40px;
    padding: 45px;
}

div{
    display: flex;
    justify-content: space-around;
}

article{
margin: 25px;
}
    
p{
margin: 5px;
font-size: 12px;
}

ul{
margin: 10px;
margin-left: 15px;
font-size: 12px;
}

.Competences ul {
    margin-top: 25px;
}

.Competences img {
    margin: 10px;
    margin-bottom: 18px;
}

span {
    font-size: 12px;
    margin: 17px;    
    color: white;
    border: solid rgb(230, 137, 93);
    background-color:rgb(230, 137, 93)
}

.infoperso {
    
}

